In [1]:
import pandas as pd
import numpy as np

In [2]:
# Create the example set
dataframe = pd.DataFrame(
	data = [
		['green', 'M', 10.1, 'class1'],
		['red','L', 13.5, 'class2'],
		['blue','XL', 15.3, 'class1'],
		['yellow', 'L', 13., 'class3']
	],
	columns = ['color', 'size', 'price', 'classlabel']
)
dataframe

    color size  price classlabel
0   green    M   10.1     class1
1     red    L   13.5     class2
2    blue   XL   15.3     class1
3  yellow    L   13.0     class3

In [3]:
# Map the size table into integer
size_mapping = {
    'M': 1,
    'L': 2,
    'XL': 3
}

dataframe['size'] = dataframe['size'].map(size_mapping)
dataframe

    color  size  price classlabel
0   green     1   10.1     class1
1     red     2   13.5     class2
2    blue     3   15.3     class1
3  yellow     2   13.0     class3

In [4]:
# for non-ordered data use enumerate() function
class_mapping = { label: id for id, label in enumerate(np.unique(dataframe['classlabel']))}
class_mapping

{'class1': 0, 'class2': 1, 'class3': 2}

In [5]:
# Now use class_mapping
dataframe['classlabel'] = dataframe['classlabel'].map(class_mapping)
dataframe

    color  size  price  classlabel
0   green     1   10.1           0
1     red     2   13.5           1
2    blue     3   15.3           0
3  yellow     2   13.0           2